<div class="app">
  <app-header>
    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
      (click)="navigation.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Mucha Fiebre</span>
  </app-header>

  <mat-drawer-container class="container" autosize>
    <mat-drawer #navigation class="sidenav" mode="side" opened>
      <app-navigation></app-navigation>
    </mat-drawer>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
